.competences {
    grid-row:6/9;
    grid-column: center-start/center-end;
    padding: var(--section-padding-top-bottom) var(--section-padding-left-right);
    background-color: $color-secondary;
    display:grid;
    grid-row-gap: 4rem;

    & h2:not(:first-child) {
        text-align: center;
    }

    @media only screen and (max-width:$bp-small) {
        padding: 20rem $section-padding-small;
    }

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(33rem,1fr));
    grid-auto-rows: 35rem;
    grid-gap:6rem;
}