.competences {
    grid-row:6/8;
    grid-column: 1/-1;
    padding: 20rem 8rem;
    background-color: $color-secondary;
}

.cards {

    margin-top:4rem;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap:3rem;
}