.title {
  margin-bottom: 10rem;
}

.education {
  --timeline-width: 0.3rem;
  --timeline-dot-size: 6rem;
  --timeline-curve:100rem;

  --event-dot-size: 4rem;
  --event-column-span: 3;
  --event-padding: 5rem;

  --row-height: 20rem;
  --row-gap: 6rem;

  @media only screen and (max-width: $bp-small) {
    --timeline-dot-size: 3rem;
    --event-dot-size: 2rem;
    --row-height: 25rem;
    --row-gap: 3rem;
  }

  padding: var(--section-padding-top-bottom) var(--section-padding-left-right);
  grid-column: center-start / center-end;
  grid-row: 5/6;
  z-index: 2;

  display: grid;
  grid-template-columns:
    [left-side-start]
    repeat(3, 1fr)
    [left-side-end right-side-start]
    repeat(3, 1fr)
    [right-side-end];

  grid-template-rows:
    min-content
    var(--row-height)
    var(--timeline-width);

  grid-auto-rows: var(--row-height) var(--row-height) var(--row-height)
    var(--timeline-width);

  grid-row-gap: var(--row-gap);
}

.timeline {
  $timeline-color: rgba($color-secondary, 0.7);

  &__start {
    grid-row: 2 / 4;
    grid-column: left-side-start/left-side-end;
    position: relative;
    border-bottom-left-radius: var(--timeline-curve);
    border-left: var(--timeline-width) solid $timeline-color;
    border-bottom: var(--timeline-width) solid $timeline-color;

    &::after {
      content: "";
      display: block;
      position: absolute;
      @include box(var(--timeline-dot-size));
      background-color: var(--color-secondary);
      border-radius: 100%;
      left: calc(
        -1 * (var(--timeline-dot-size) / 2) - var(--timeline-width) / 2
      );
      top: calc(-0.9 * var(--timeline-dot-size));
    }
  }

  &__end {
    position: relative;
    grid-column: left-side-start / left-side-end;

    border-top-left-radius: var(--timeline-curve);
    border-left: var(--timeline-width) solid $timeline-color;
    border-top: var(--timeline-width) solid $timeline-color;

    &::after {
      content: "";
      display: block;
      position: absolute;
      @include box(var(--timeline-dot-size));
      background-color: var(--color-secondary);
      border-radius: 100%;
      left: calc(
        -1 * (var(--timeline-dot-size) / 2) - var(--timeline-width) / 2
      );
      bottom: calc(-0.9 * var(--timeline-dot-size));
    }

    &--right {
      grid-column: right-side-start / right-side-end;
      border-right: var(--timeline-width) solid $timeline-color;
      border-left: none;
      border-top-left-radius: unset;
      border-top-right-radius: var(--timeline-curve);

      &::after {
        left: unset;
        right: calc(
          -1 * (var(--timeline-dot-size) / 2) - var(--timeline-width) / 2
        );
      }
    }
  }

  &__right {
    grid-column: right-side-start/ right-side-end;
    border-top-right-radius: var(--timeline-curve);
    border-bottom-right-radius: var(--timeline-curve);
    border-top: var(--timeline-width) solid $timeline-color;
    border-bottom: var(--timeline-width) solid $timeline-color;
    border-right: var(--timeline-width) solid $timeline-color;
  }

  &__left {
    grid-column: left-side-start / left-side-end;
    border-top-left-radius: var(--timeline-curve);
    border-bottom-left-radius: var(--timeline-curve);
    border-top: var(--timeline-width) solid $timeline-color;
    border-bottom: var(--timeline-width) solid $timeline-color;
    border-left: var(--timeline-width) solid $timeline-color;
  }
}

.event {
  position: relative;
  background: var(--color-secondary);
  box-shadow: $shadow-dark;
  grid-column: 1/6;
  min-height: calc(var(--row-height) * 2.3);
  text-align: center;
  align-self: center;
  border-radius: 10rem;
  padding: var(--event-padding);

  p {
    font-size: 2rem;
    margin-bottom: 5rem;
  }

  h2 {
    margin-bottom: 4rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    width: 110%;
  }

  &::after {
    content: "";
    @include absoluteCenterVertical;
    @include box(var(--event-dot-size));
    display: block;
    background: var(--color-secondary);
    border-radius: 50%;
    right: calc(
      -1 * (var(--event-dot-size) / 2 + 20% - var(--timeline-width) / 2)
    );

    @media only screen and (max-width: $bp-smallest) {
      right: calc(
        -1 * (var(--event-dot-size) / 2 + 9.09% - var(--timeline-width) / 2)
      );
    }
  }

  &--right {
    grid-column: 2/ 7;

    &::after {
      left: calc(
        -1 * (var(--event-dot-size) / 2 + 20% - var(--timeline-width) / 2)
      );

      @media only screen and (max-width: $bp-smallest) {
        left: calc(
          -1 * (var(--event-dot-size) / 2 + 9.09% - var(--timeline-width) / 2)
        );
      }
    }

    @media only screen and (max-width: $bp-smallest) {
      justify-self: flex-end;
    }
  }
}
