.background {
  grid-row: 4/7;
  grid-column: 1/-1;
  @include primaryGradient;
  clip-path: polygon(
    0 var(--section-intersection-length),
    100% 0,
    100% 100%,
    0 calc(100% - var(--section-intersection-length))
  );
  z-index: 2;
}

.education {
  --timeline-width: 2rem; 
  --timeline-start-dot-size:6rem;
  --event-size:8rem;

  --row-offset:0;

  padding: var(--section-padding-top-bottom) var(--section-padding-left-right);
  grid-column: center-start / center-end;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: var(--timeline-width);
  grid-auto-rows: 20rem var(--timeline-width);
  z-index: 4;
}

.timeline {
  
  $timeline-color: rgba($color-secondary, 0.7);

  &:nth-child(1) {
    grid-row: calc(1 + var(--row-offset))/calc(4 + var(--row-offset));
    grid-column: 1/4;
    position: relative;

    &::after {
      
      content:'';
      display:block;
      position: absolute;
      @include box(var(--timeline-start-dot-size));
      background-color: var(--color-secondary);
      border-radius: 100%;
      left: calc(-1 * (var(--timeline-start-dot-size) / 2) - var(--timeline-width) / 2);
      top:calc(-.9 * var(--timeline-start-dot-size));
    }
  }

  &:nth-child(2) {
    grid-row: calc(3 + var(--row-offset))/calc(10 + var(--row-offset));
    grid-column: 4/7;
  }

  &:nth-child(3) {
    grid-row: calc(9 + var(--row-offset))/calc(16 + var(--row-offset));
    grid-column: 1/4;
  }

  &:nth-child(4) {
    grid-row: calc(15 + var(--row-offset))/ calc(22 + var(--row-offset));
    grid-column: 4/7;
  }

  &--left-bottom {
    border-bottom-left-radius: 100vh;
    border-left: var(--timeline-width) solid $timeline-color;
    border-bottom: var(--timeline-width) solid $timeline-color;
  }

  &--top-right-bottom {
    border-top-right-radius: 100vh;

    border-bottom-right-radius: 100vh;
    border-top: var(--timeline-width) solid $timeline-color;
    border-bottom: var(--timeline-width) solid $timeline-color;
    border-right: var(--timeline-width) solid $timeline-color;
  }

  &--top-left-bottom {
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
    border-top: var(--timeline-width) solid $timeline-color;
    border-bottom: var(--timeline-width) solid $timeline-color;
    border-left: var(--timeline-width) solid $timeline-color;
  }

  &--right-bottom {
    border-bottom-right-radius: 100vh;
    border-right: var(--timeline-width) solid $timeline-color;
    border-bottom: var(--timeline-width) solid $timeline-color;
  }

  &--top-left {
    border-top-left-radius: 100vh;
    border-top: var(--timeline-width) solid $timeline-color;
    border-left: var(--timeline-width) solid $timeline-color;
  }
}

.event {

  &:nth-child(1) {

  }

}
