$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;
$bp-smallest: 25em;

$color-primary: #1a73da;
$color-primary-2: #1465c2;

$color-secondary:#f4f4f4;
$color-secondary-2:#e4e4e4;

$color-black:#000;

//
$section-intersection-length:15rem;
$section-intersection-length-small:15rem;

//Box-shadows

$shadow-dark: 0 1.2rem 1.4rem rgba(0, 0, 0, 0.2);
$shadow-dark-wider: 0 2rem 1.4rem rgba(0, 0, 0, 0.2);
$shadow-light: 0 .7rem 2rem rgba(0, 0, 0, 0.1);


//Paddings
$section-padding-small:3rem;