.card {
  background: #fff;
  padding: 4rem;
  display: grid;
  border-radius: 10px;
  box-shadow: $shadow-light;
  justify-items: center;
  align-items: center;
  grid-gap: 2rem;
  grid-template-rows: 4rem;

  p {
    font-size: 1.6rem;
    text-align: center;
  }

}
