.header {
  grid-column: full-start / full-end;
  grid-row: 1/3;
  // background-color: $dark-cornflower-blue;
  // background-color: $star-command-blue;
  background-image: linear-gradient(
    to bottom right,
    $color-primary,
    $color-primary-2
  );
  // background:#003049;
  padding: 8rem;
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  z-index: 2;
}

.heading {
  animation: moveInLeft 1s ease-in-out;
}

.subheading {
  animation: moveInRight 1s ease-in-out;
}
