.about {
  background: $color-secondary;
  grid-column: 1/-1;
  grid-row: 2/5;
  padding: 40rem 8rem;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:2rem;
  overflow: hidden;

  h2 {
    grid-column: 1/-1;
  }

}

.text {
  font-size: 1.6rem;
  grid-row: 2/3;
  grid-column: 1/2;
}

.details-list {
    font-size: 1.6rem;
    list-style: none;
    grid-column:2/3;
    grid-row:2/3;

   li:not(:last-child) {
       margin-bottom: 1rem;
   }
}
