.about {
  background: $color-secondary;
  grid-column: center-start/center-end;
  grid-row: 2/5;
  padding: var(--section-padding-top-bottom) var(--section-padding-left-right);
  z-index: 1;
  display: grid;
  grid-template-areas:
    "title title"
    "text list";
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  overflow: hidden;

  @media only screen and (max-width: $bp-small) {
    grid-template-areas: "title" 
                         "text" 
                         "list";
    grid-template-columns: 1fr;
  }

  h2 {
    grid-area: title;
  }
}

.text {
  font-size: 1.6rem;
  grid-area: text;
}

.details-list {
  font-size: 1.6rem;
  list-style: none;
  grid-area: list;

  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}
